.content-widgets.gray
  .widget-head.orange
    %h3 Editing holiday
  .widget-container
    = render 'form'

    = link_to [@setting, @holiday] do
      %i.icon-reorder{ title: 'View' }
    \|
    = link_to setting_holidays_path do
      %i.icon-arrow-left{ title: 'Back' }

:javascript
  $(function () {
    $('#holiday_date').datetimepicker({
      pickTime: false,
    });
  });
