.content-widgets.gray
  .widget-head.orange
    %h3 Editing holiday
  .widget-container
    = render 'form'

    = link_to [@setting, @holiday] do
      %i.icon-reorder{ title: 'View' }
    \|
    = link_to setting_holidays_path do
      %i.icon-arrow-left{ title: 'Back' }

:javascript
  $(function () {
    var year = $('#holiday_date').parent('.holiday_input').attr('id')
    $( "#holiday_date" ).datepicker({
      dateFormat: "yy-mm-dd",
      defaultDate: new Date(year+"-01-01"),
      minDate: new Date(year+"-01-01"),
      maxDate: new Date(year+"-12-31")
    });
  });
