.content-widgets.gray
  .widget-head.orange
    %h3 New holiday
  .widget-container
    = render 'form'

    = link_to 'Back', setting_holidays_path(@setting)

:javascript
  $(function () {
    $('#holiday_date').datetimepicker({
      pickTime: false,
    });
  });
