.content-widgets.gray
  .widget-head.orange
    %h3 Holiday
  .widget-container
    %p
      %b Date:
      = @holiday.date
    %p
      %b Occasion:
      = @holiday.occasion

    = link_to edit_holiday_path(@holiday) do
      %i.icon-edit{ title: 'Edit' }
    \|
    = link_to holidays_path do
      %i.icon-arrow-left{ title: 'Back' }
