.content-widgets.light-gray
  .widget-head.orange
    %h3 Edit Profile
.stepy-widget
  .widget-head.clearfix.orange
    #top_tabby.pull-right
      %ul#stepy_form-titles.stepy-titles
        %li#stepy_form-title-0.current-step
          %div Step1
        %li#stepy_form-title-1.current-step
          %div Step2
  .widget-container.gray
    .form-container
      = simple_form_for @user, :url => profile_update_path(@user), :html => { :method => :put, :id => 'stepy_form', :class => 'form-horizontal'} do |f|
        - if @user.errors.any?
          #error_explanation
            %ul
              - @user.errors.full_messages.each do |msg|
                %li= msg

        .valid-error.stepy-error
        = render :partial => "/devise/invitations/form", :locals => { :f=> f }
:javascript
  $(function () {
    /*==JQUERY STEPY==*/
    $('#stepy_form').stepy({
        backLabel: 'Back',
        nextLabel: 'Next',
        errorImage: true,
        block: true,
        description: false,
        legend: false,
        titleClick: true,
        titleTarget: '#top_tabby',
        validate: true
    });

    $('#stepy_form').validate({
      errorPlacement: function (error, element) {
          $('#stepy_form div.stepy-error.valid-error').prepend(error);
      },
      rules: {
          'user[email]': 'required',
          'user[alternate_email]': 'required',
          'user[phone_number]': 'required',
          'user[alternate_phone_number]': 'required',
          'user[name]': 'required',
          'user[date_of_birth]': 'required',
          'user[date_of_joining]': 'required'
      },
      messages: {
          'user[alternate_email]': {
              required: 'alternate_email field is required!'
          },
          'user[email]': {
              required: 'Email field is requerid!'
          },
          'user[phone_number]': {
              required: 'Phone Number field is requerid!'
          },
          'user[alternate_phone_number]': {
              required: 'Alternate Phone Number field is requerid!'
          },
          'user[name]': {
              required: 'Name field is requerid!'
          },
          'user[date_of_birth]': {
              required: 'Date Of Birth field is required!'
          },
          'user[date_of_joining]': {
              required: 'Date Of Join field is required!'
          }

      }
    });

    $('#date_of_birth').datepicker({
      dateFormat: "yy-mm-dd"
    });

    $('#date_of_join').datepicker({
      dateFormat: "yy-mm-dd"
    });

  });
