.content-widgets.light-gray
  .widget-head.orange
    %h3 Edit Profile
.stepy-widget
  .widget-head.clearfix.orange
    #top_tabby.pull-right
      %ul#stepy_form-titles.stepy-titles
        %li#stepy_form-title-0.current-step
          %div Step1
        %li#stepy_form-title-1.current-step
          %div Step2
  .widget-container.gray
    .form-container
      = simple_form_for @user, :url => profile_update_path(@user), :html => { :method => :put, :id => 'stepy_form', :class => 'form-horizontal'} do |f|
        - if @user.errors.any?
          #error_explanation
            %ul
              - @user.errors.full_messages.each do |msg|
                %li= msg

        .valid-error.stepy-error
        = render :partial => "/devise/invitations/form", :locals => { :f=> f }
