.content-widgets.gray
  .widget-head.orange
    %h3 Editing setting
  .widget-container
    = render 'form'

    = link_to @setting do
      %i.icon-reorder{ title: 'View' }
    \|
    = link_to settings_path do
      %i.icon-arrow-left{ title: 'Back' }
