.content-widgets.gray
  .widget-head.orange
    %h3 Setting
  .widget-container
    %p
      %b Year:
      = @setting.year
    %p
      %b Total leaves:
      = @setting.total_leaves

    = link_to edit_setting_path(@setting) do
      %i.icon-edit{ title: 'Edit' }
    \|
    = link_to settings_path do
      %i.icon-arrow-left{ title: 'Back' }
