.content-widgets.gray
  .widget-head.orange
    %h3 Editing Leave
  .widget-container
    = render 'form'

    = link_to user_leafe_path(@user, @leave) do
      %i.icon-reorder{ title: 'View' }
    \|
    = link_to leaves_path do
      %i.icon-arrow-left{ title: 'Back' }
