.alert-notice{
    background-color: #009600;
    color: #D4FFD4;
}
.stepy-error{
  bottom: 0px;
  top: 10px;
  position: relative;
}
.profile-pic{
  height: 50px!important;
  width: 50px!important;
}
#reject_reasonModal .error_msg{
  color: #CE1010;
}
.cake-icon{
  height: 25px;
  width: 25px;
}
.settings-option{
  background-color: #ECECEC !important;
}
#error_explanation li{
  color: #CE1010;
}
