.content-widgets.light-gray
  .widget-head.orange
    %h3 Listing users
  .widget-container
    = link_to 'Invite Employee', new_user_invitation_path, :class => 'btn btn-danger'
    %br
    %br
    #data-table_wrapper.dataTables_wrapper.form-inline
      = render :partial => 'user_details'
      %br
      .digg_pagination
        = will_paginate @users, :container => false
      %br

